{% extends 'main.html'%}

{% block content%}
<div class="container">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="">
            <p class="h2">
                Employee
                <small class="text-muted h5">Create</small>
            </p>
        </div>
        <div class="">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mb">
                    <i class="bi bi-stack">&ensp;</i>
                    <li class="breadcrumb-item"><a href="{%url 'home'%}">Home</a></li>
                    <li class="breadcrumb-item">Employee</li>
                    <li class="breadcrumb-item active" aria-current="page">Create</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="mainpage">
        <div>
            <h5 class="text-muted">Employee Detatails </h5>
            <hr>
            <form class="row g-3" method="POST" id="employeeForm" data-cities-url="{% url 'ajax_load_cities' %}">
                {% csrf_token %}
                <div class="col-sm-4">
                  <label for="validationDefault01" class="form-label">First name</label>
                  {{form.first_name}}
                  <!-- <input type="text" class="form-control" id="validationDefault01" required> -->
                </div>
                <div class="col-sm-4">
                  <label for="validationDefault02" class="form-label">Last name</label>
                  {{form.last_name}}
                  <!-- <input type="text" class="form-control" id="validationDefault02" required> -->
                </div>
                <div class="col-sm-4">
                  <label for="validationDefaultUsername" class="form-label">Username</label>
                  <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    {{form.email}}
                    <!-- <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required> -->
                  </div>
                </div>
                <div class="col-sm-4">
                  <label for="validationDefault03" class="form-label">Mobile</label>
                  {{form.mobile}}
                  <!-- <input type="text" class="form-control" id="validationDefault03" required> -->
                </div>
                <div class="col-sm-4">
                  <label for="validationDefault04" class="form-label">Date-Of-Birth</label>
                  {{form.DOB}}
                  <!-- <input type="date" class="form-control" id="validationDefault04" required> -->
                </div>
                <div class="col-sm-4">
                  <label for="inlineRadio1" class="form-label">Gender</label>
                  {{form.gender}}
                  <!-- <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Gender" id="inlineRadio1" value="Male">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Gender" id="inlineRadio1" value="Female">
                        <label class="form-check-label" for="inlineRadio1">Female</label>
                      </div>
                  </div> -->
                </div>
                <div class="col-sm-12">
                    <label for="validationTextarea" class="form-label">Address</label>
                    {{form.address}}
                    <!-- <textarea class="form-control" id="validationTextarea" rows="3" required></textarea> -->
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Country</label>
                    {{form.country}}
                    <!-- <select class="form-select" id="validationDefault06" required>
                        <option selected disabled value="">..Select Country..</option>
                        <option>...</option>
                    </select> -->
                </div>
                <div class="col-sm-4">
                    <label  class="form-label">City</label>
                    {{form.city}}
                    <!-- <select class="form-select" id="validationDefault07" required>
                        <option selected disabled value="">..Select City..</option>
                        <option>...</option>
                      </select> -->
                </div>
                <div class="col-md-12">
                    <label  class="form-label">Skills</label>
                    <hr>
                    {{form.skills}}
                    <!-- <div class="d-flex justify-content-between">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="skills" id="Skills1" value="1">
                            <label class="form-check-label" for="Skills1">AWS</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="skills" id="Skills2" value="2">
                            <label class="form-check-label" for="Skills2">DevOps</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="skills" id="Skills3" value="3">
                            <label class="form-check-label" for="Skills3">FullStack</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="skills" id="Skills4" value="4">
                            <label class="form-check-label" for="Skills4">Middleware</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="skills" id="Skills5" value="5">
                            <label class="form-check-label" for="Skills5">QA-Automation</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="skills" id="Skills6" value="6">
                            <label class="form-check-label" for="Skills6">WebServices</label>
                        </div>
                     </div> -->
                </div>
                <hr>
                <div class="col-12 d-flex flex-row justify-content-end">
                  <button class="btn btn-success" type="submit">Save</button>
                  &ensp;
                  <a class="btn btn-danger" href="{% url 'search' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#id_country").change(function () {
        const url = $("#employeeForm").attr("data-cities-url");  // get the url of the `load_cities` view
        const countryId = $(this).val();  // get the selected country ID from the HTML input
        console.log(url);
        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'country_id': countryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                // $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
                

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                
            }
        });

    });
</script>

{% endblock %}


<!-- <div class="row d-flex flex-row">
    <div class="d-inline-flex p-2">
        <p class="h2">
            Employee
            <small class="text-muted h5">Create</small>
        <p>
    </div>
    <div class="d-inline-flex p-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
    </div>
</div> -->