{% extends 'main.html'%}

{% block content%}
<div class="container">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="">
            <p class="h2">
                Employee
                <small class="text-muted h5">Create</small>
            </p>
        </div>
        <div class="">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mb">
                    <i class="bi bi-stack">&ensp;</i>
                    <li class="breadcrumb-item"><a href="{%url 'home'%}">Home</a></li>
                    <li class="breadcrumb-item">Employee</li>
                    <li class="breadcrumb-item active" aria-current="page">Create</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="mainpage">
        <div>
            <h5 class="text-muted">Employee Detatails </h5>
            <hr>
            <form class="row g-3" method="POST" id="employeeForm" data-cities-url="{% url 'ajax_load_cities' %}">
                {% csrf_token %}
                <div class="col-sm-4">
                  <label for="validationDefault01" class="form-label">First name</label>
                  {{form.first_name}}
                </div>
                <div class="col-sm-4">
                  <label for="validationDefault02" class="form-label">Last name</label>
                  {{form.last_name}}
                </div>
                <div class="col-sm-4">
                  <label for="validationDefaultUsername" class="form-label">Username</label>
                  <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    {{form.email}}
                  </div>
                </div>
                <div class="col-sm-4">
                  <label for="validationDefault03" class="form-label">Mobile</label>
                  {{form.mobile}}
                </div>
                <div class="col-sm-4">
                  <label for="validationDefault04" class="form-label">Date-Of-Birth</label>
                  {{form.DOB}}
                </div>
                <div class="col-sm-4">
                  <label for="inlineRadio1" class="form-label">Gender</label>
                  {{form.gender}}
                </div>
                <div class="col-sm-12">
                    <label for="validationTextarea" class="form-label">Address</label>
                    {{form.address}}
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Country</label>
                    {{form.country}}
                </div>
                <div class="col-sm-4">
                    <label  class="form-label">City</label>
                    {{form.city}}
                </div>
                <div class="col-md-12">
                    <label  class="form-label">Skills</label>
                    <hr>
                    {{form.skills}}
                </div>
                <hr>
                <div class="col-12 d-flex flex-row justify-content-end">
                  <button class="btn btn-success" type="submit">Save</button>
                  &ensp;
                  <a class="btn btn-danger" href="{% url 'search' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#id_country").change(function () {
        const url = $("#employeeForm").attr("data-cities-url");  
        const countryId = $(this).val(); 
        console.log(url);
        $.ajax({                      
            url: url,                  
            data: {
                'country_id': countryId      
            },
            success: function (data) {   

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                
            }
        });

    });
</script>

{% endblock %}

