{% extends 'main.html'%}

{% block content%}

<div class="container text-center">
    <div class="row">
        <div style="margin-top: 50px; margin-bottom: 80px;">
            <h1>Welcome to JALA Academy </h1>
        </div>
    </div>
    <div>
        <p> <b>Do you want to Learn Selenium Automation completely with Practical Scenarios in 7 Days?</b></p>
    </div>
    <div class="mainpage text-sm">
        <p>
            You Learn Everything by doing projects if you are very serious to gat a software job in 60 days contact us :  <a href="https://jalaacademy.com/" target="_blank">http://jalatechnologies.com/contact-us.html</a>
        </p>
    </div>
    <br>
    <div class="mainpage">
        <p style="background-color:Yellow;">
           <b> For working people can double the salery in 60 Days </b>
        </p>
    </div>


</div>


{% endblock %}


<!-- <div class="content-wrapper" style="min-height: 585px;">
            
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-97T86CNKZ0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-97T86CNKZ0');
    </script>
    
    <div class="row text-center">
        <center class="pt_100">
            <h1>Welcome to JALA Academy</h1>        
        </center>
        <br><br><br><br>
    </div>
     <center>
    <p> <b>Do you want to Learn Selenium Automation completely with Practical Scenarios in 7 Days?</b></p>
    </center>
    <div class="row m-t-md m-l-md m-r-md">
        <div>
            <div class="row m-l-md m-r-md">
                <div class="box box-primary">
                
      
                    <div class="box-body">
                        <p>
                            You Learn Everything by doing projects if you are very serious to gat a software job in 60 days contact us :  <a href="https://jalaacademy.com/" target="_blank">http://jalatechnologies.com/contact-us.html</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row m-l-md m-r-md">
                <div class="box box-primary">
                    <div class="box-body">
                        <p style="background-color:Yellow;">
                           <b> For working people can double the salery in 60 Days </b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
            </div> -->