{% extends 'main.html'%}

{% block content%}
<style>
    .container {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .mainpage{
        border-top: 5px solid #3d87ff;
        margin-top: 15px;
        background-color: white;
        border-radius: 5px;
        padding: 15px;
    }
</style>

<div class="container">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="">
            <p class="h2">
                Slider
                <!-- <small class="text-muted h5">Slider</small> -->
            </p>
        </div>
        <div class="">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mb">
                    <i class="bi bi-stack">&ensp;</i>
                    <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                    <li class="breadcrumb-item">More</li>
                    <li class="breadcrumb-item active" aria-current="page">Slider</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="mainpage">
        <div class="nav-tabs-custom">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="t1-tab" data-bs-toggle="tab" data-bs-target="#t1" type="button" role="tab" aria-controls="t1" aria-selected="true">Slider</button>
                </li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="t1" role="tabpanel" aria-labelledby="t1-tab">
                   <div class="container">
                        <div class="row justify-content-center">
                            <br>
                            <input type="range" class="col-md-12" value="0"><br><br>
                            <p class="col-md-3"> Counter Value <span class="number">&ensp;0</span></p>
                        </div>
                        <script>
                            const input = document.querySelector("input"), number = document.querySelector(".number")
                            input.addEventListener("input", () => {
                                number.textContent = input.value
                            });
                        </script>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
